body {
  background-color: 	#4682B4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#div-contHome {
  text-align: start;
  background-color: white;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  border-style: groove;
  border-width: 3px;
  border-color: black;
  border-radius: 30px;
  box-shadow: 3px 3px 10px;
  width: auto;
  height: auto;
}#div-cont {
  text-align: center;
  background-color: white;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  border-style: groove;
  border-width: 3px;
  border-color: black;
  border-radius: 30px;
  box-shadow: 3px 3px 10px;
  width: auto;
  height: auto;
}
#div-row {
  text-align: start;
  background-color: white;
  margin-top: 20px;
  margin-left: 44px;
  margin-right: 44px;
  margin-bottom: 50px;
  width: auto;
}
#div-titulo {
  width: 200;
}
#div-btn {
  width: 200;
}
#btnAdd {
  background-color:	#4682B4;
  margin-left: 545px;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}
#div-table {
  text-align: center;
  background-color: white;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  border-radius: 30px;
  width: auto;
}
#img {
  max-width:1000px;
  max-height:500px;
  width: auto;
  height: auto;
}